@import "tailwindcss";

:host {
  font-size: 14px;
}

.tip-bot-root,
.tip-bot-root * {
  box-sizing: border-box;
}

.tip-bot-root input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.tip-bot-root input[type='number']::-webkit-outer-spin-button,
.tip-bot-root input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
